<!doctype html>
<html>
	<head>
		{% block head %}
            <title> {{title}}</title>
            {% if not intercss %}
            <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}"/>
            {% else %}
            <style>
                    {{css}}
            </style>
            {% endif %}
            <meta charset="utf-8" />
        {% endblock head %}
	</head>
    <body>
            {% block body %}
            {% endblock body %}
	</body>
</html>
