<!doctype html>
<html>
	<head>
		{% block head %}
            <title> {{title}}</title>
            <script src="http://code.jquery.com/jquery-1.10.2.min.js" ></script>
			<script src="{{url_for('static', filename='jquery.js') }}"></script>
            <script src="{{url_for('static', filename='bootstrap.js')}}"></script>
            <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.css') }}"/>
            <link rel="stylesheet" href="{{url_for('static', filename='bootstrap-resonsive.css') }}">
            <meta charset="utf-8" />
        {% endblock head %}
        {% block style %}
		{% endblock style %}
        {% block script %}
        {% endblock script %}
	</head>
    <body>
            {% block body %}
			{% endblock body %}
			<div id="footer" class="text-center"><p>copyrigt by<a href="#"> loomla</a></p></div>
	</body>
</html>
