{% extends "base.html" %}
{% block body %}
    <div id="wall">
            <div id="contorline">
                    <ul>
                           {% if logining %}
						   <li>{{username}},欢迎来到chatroom</li>
						   <li><a href="/loginout">logout</a></li>
                           {% endif %}
                    </ul>
            </div>
            <div id="box1">
                    <div id="chatbox">
                        <div id="messagebox">
                            {% for item in mess %}
								<div id="mess">
									<p>{{item['mess']}}</p>
									<p>User:{{item['user']}} Email:{{item['email']}}</p>
									<p>date:{{item['today']}}</p>
								</div>
                            {% endfor %}
                        </div>
                        <div id="sendbox">
							<form id="sendbox" action="/chat/add" method="post">
								<input name="mess" type="text"/>
								<input type="submit" value="发送"/>
							</form> 	
                        </div>
                    </div>
                    <div id="menberbox">
                    </div>
            </div>
            <div id="footer">
            </div>                             
	</div>
{% endblock body %}
