{% extends "base.html" %}
{% block style %}
<link rel="stylesheet" href="{{  url_for('static', filename='sheet.css')  }}" />
<style>
.messa{
background-color:#DDDDDD;
border-radius:10px;
}
#sendbox{
position:absolute;
width:100%;
bottom:10px;
}
</style>
{% endblock style %}
{% block script %}
	<script>
		$(document).ready(function(){
			$("#sendbox").submit(function(){
				var mess = $(".text").val();
				if (mess == ""){
					$("#flush").text("亲,你还没有写任何信息哦!");
					return false;
				}
				else{
					return true; //aplay ajax latter
				}
			});
		});		
	</script>
{% endblock script %}
{% block body %}
	<div id="wrap">
			<p id="flush" style="text-align:center;color:red">{{warning}}</p>
            <div>
                    {% if logining %}
                   
					 <h1 id="greet" class="text-center">{{username}},欢迎来到chatroom</h1>
					 <div class="row-fluid">
					    <button class="span1 offset11 btn btn-link"><p><a href="/loginout">logout</a></p></button>
					 </div>
					{% endif %}                    
            </div>
        
                    
            <div id="chatbox">
                <div class="row-fluid">
                    <div id="messagebox" class="span10 offset1">
                        {% for item in mess[::-1] %}
				            <div class="messa">
					            <p class="p1">{{item['mess']}}</p>
					            <p class="p2 text-right">{{item['user']}} at {{item['email']}} date:{{item['today']}}</p>
				            </div>
                        {% endfor %}
                    </div>
                </div>
              
                <div id="sendbox">
			        <form id="sendbox" action="/chat/add" method="post">
			            <div class="row-fluid">
			                <div class="input-append span10 offset1">			     
				                <textarea class="span11" name="mess" style="resize: none;"></textarea>
				                <button class="btn btn-large btn-primary" type="submit">发送</button>
				            </div>
			            </div>
			        </form> 	
                </div>                           
            </div>
                 
                              
	</div>
{% endblock body %}
