{% extends "base.html" %}
{% block style %}
<link rel="stylesheet" href="{{  url_for('static', filename='sheet.css')  }}" />
{% endblock style %}
{% block script %}
<script>
    $(document).ready(function(){
		    $("#login").submit(function(){
			    var email = $("#email").val();
			    var nickname = $("#nickname").val();
			
			    //var email_re = new RegExp("^\w+\@\w+\.+\w"); 求教为啥不行
			    var email_re = new RegExp("^[a-zA-Z0-9_+.-]+\@([a-zA-Z0-9-]+\.)+[a-zA-Z0-9]{2,4}$");
			    if (nickname == "" && email == ""){
				    $("#form_tip").text("亲，您什么都没输入了");
				    return false;
			    }
			    else if (nickname == ""){
				    $("#form_tip").text("亲，您忘输入nickname了");
				    return false;
			    }
			    else if (email == ""){
				    $("#form_tip").text("亲，您忘输入email了");
				    return false;
			    }
			    else if(!email_re.test(email)){
				    $("#form_tip").text("亲，请输入正确的Email格式");
				    return false;
			    }
			    else {
				    return true;
			    }
		    });
	    });
</script>
{% endblock script %}
{% block body %}
<div id="wrap">
    <div class="container"  >
        <h1 id="greet" class="text-center">欢迎来到loom洽谈室</h1>
        <br/>
        <div class="row">
            <div class="span4"></div>			                
            <div id="login" class="span4">
                <fieldset>
                    <legend>LOGIN</legend>
                    <form  class="form-signin" name="login" action="/login" method="post">
                                    <span id="form_tip"></span>
                                	<label for="email">Email:</label>                                	
                                    <input id="email" class="" type="text" name="Email" />
                                	<label for="nickname">nickname:</label>
                                    <input id="nickname" type="text" name="nickname" />
                                    <br/>
			                        <button id="submit" class="btn btn-primary" type="submit">登录</button>
                	</form>
                </fieldset>	
           </div>
           <div class="span4"></div>
       </div>      
    </div>
</div>
{% endblock body %}
